<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <main>
        <div class="side-container">
            <form method="POST" class="search-container">
                {% csrf_token %}
                <input type="text" class="geo-input" name="city" placeholder="Enter city name">
                <button type="submit" class="search-button">Search</button>
            </form>

            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}

            {% if location %}
            <div class="day-stats">
                <h2 class="day-stats__temperature">{{ currrent_temp }}°C</h2>
                <h3 class="day-stats__feelslike">Feels like: <span>{{ feels_like }}°C</span></h3>
                <ul class="day-stats__conditions">
                    <li>
                        <p class="day-stats__condition">{{ humidity }}%</p>
                        <p class="day-stats__condition_text">Humidity</p>
                    </li>
                    <li>
                        <p class="day-stats__condition">{{ clouds }}%</p>
                        <p class="day-stats__condition_text">Clouds</p>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>

        <div class="main-container">
            <h3 class="weather__primart-title">Weather Forecast</h3>
            <p class="weather__location">{{ location }} ({{ country }})</p>

            <p class="weather__primary-stats">Wind: {{ wind }} km/h, Pressure: {{ pressure }} mb, Visibility: {{ visibility }} km</p>

            <div class="forecast">
                <div class="forecast-item">
                    <p class="forecast_time">{{ time1 }}</p>
                    <p class="forecast_temperature">{{ temp1 }}°C</p>
                </div>
                <div class="forecast-item">
                    <p class="forecast_time">{{ time2 }}</p>
                    <p class="forecast_temperature">{{ temp2 }}°C</p>
                </div>
                <div class="forecast-item">
                    <p class="forecast_time">{{ time3 }}</p>
                    <p class="forecast_temperature">{{ temp3 }}°C</p>
                </div>
                <div class="forecast-item">
                    <p class="forecast_time">{{ time4 }}</p>
                    <p class="forecast_temperature">{{ temp4 }}°C</p>
                </div>
                <div class="forecast-item">
                    <p class="forecast_time">{{ time5 }}</p>
                    <p class="forecast_temperature">{{ temp5 }}°C</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
